img {
  filter: grayscale(70%);
  transition: filter 0.2s ease, transform 0.2s ease;
  z-index: 1;
}

img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
  transition: filter 0.2s ease, transform 0.2s ease;
  z-index: 10;
}
