img {
  transition: transform 0.2s ease;
  z-index: 1;
  max-width: 500px;
  min-width: 200px;
  /* height: auto; */
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
  z-index: 10;
}
